{% block form_errors %}
    {% if errors|length > 0 %}
    <div class="alert alert-danger d-flex align-items-center fw-bold alert-sm" role="alert">
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}